services:
  # texlive:
  #   image: texlive/texlive:latest
  #   container_name: texlive
  #   volumes:
  #     - ./texlive:/overleaf/services/texlive
  #   environment:
  #     - TEXLIVE_IMAGE=texlive/texlive
  #     - TEXLIVE_IMAGE_USER=root
  #   restart: unless-stopped

  clsi:
    image: overleaf/clsi:latest
    container_name: clsi
    ports:
      - "3013:3013" # RESTful interface
      - "3048:3048" # Load information
      - "3049:3049" # HTTP control interface
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # Docker socket for sibling containers
      # - /var/run/docker.sock.raw:/var/run/docker.sock
      - ./compiles:/overleaf/services/clsi/compiles # LaTeX compilation working directory
      - ./cache:/overleaf/services/clsi/cache # Output directory
    environment:
      - DEBUG_METRICS=true
      - CATCH_ERRORS=true
      - LISTEN_ADDRESS=0.0.0.0
      - SANDBOXED_COMPILES=true
      - TEXLIVE_IMAGE=texlive/texlive
      - TEXLIVE_IMAGE_USER=root
      - SANDBOXED_COMPILES_HOST_DIR_COMPILES=/overleaf/services/clsi/compiles
      - SANDBOXED_COMPILES_HOST_DIR_OUTPUT=/overleaf/services/clsi/cache
    restart: unless-stopped
